.p1{
    background-color:rgb(0, 17, 255)
}
.p0{
    text-align: center;
}
.content{
    text-align: center;
    background-color:rgb(191, 185, 182)
}
.p4{
    width:100%
}
.p5{
    background-color:aliceblue
}
